.search {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 100vh;
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
}

.search:focus-within .dataResult {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;

}

.searchInputs {
    position: relative;
    border-radius: 100vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 35px;
    height: 2.2rem;
    overflow: hidden;
    transition: width 330ms ease-in-out;
}

.searchInputs:focus-within {
    width: 330px;
    border: 0.5px solid black;
}

.searchInputs:focus-within input {
    width: 265px;
    opacity: 1;
    outline: none;
    transition: width 300ms ease-in-out;
    background-color: white;
}

.searchInputs:focus-within .searchInputs_clearBtn {
    margin-left: 258px;
    display: flex;
    background-color: white;
}



.search input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border: 0;
    border-radius: 100vh;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    line-height: 2.2rem;
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    overflow: hidden;
    flex-grow: 1;
    opacity: 0;
    z-index:9;
}

.searchIcon {
    position: relative;
    display: flex;
    align-self: center;
    margin-left: auto;
    line-height: 2.2rem;
    height: 2.2rem;
    width: 35px;
    background-color: #c3dafe;
    display: grid;
    place-items: center;
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    border: none;
    border-radius: 100vh;
    transition: 150ms ease-in-out;

}

.searchIcon svg {
    font-size: 28px;
}

.dataResult {
    display: none;
    position: absolute;
    border-radius: 12px;
    top: 34px;
    left: 0px;
    margin-top: 5px;
    width: 330px;
    inline-size: 330px;
    overflow-wrap: break-word;
    height:250px;
    background-color: white;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 10px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 330px;
    inline-size: 330px;
    min-height: 50px;
    height: max-content;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.dataResult .dataItem p {
    width: 320px;
    inline-size: 320px;
    padding-right: 4px;
    overflow-wrap: break-word;
    min-height: 50px;
    height: max-content;

}

.dataResult .dataItem:hover {
    background-color: #ccc;
}

.dataItem p {
    margin-left: 10px;
    margin-top: 10px;    
}
.searchInputs_clearBtn {
    position: relative;
    display: none;
    width:20px;
    align-items: center;
    justify-self: center;
    height: 2.2rem;
    line-height: 2.2rem;
    z-index: 10;
}


#clearBtn {
    margin-bottom: 3px;
    cursor: pointer;
    flex: 1;
    border: none;
    background-color: transparent;
}

#clearBtn svg {
    font-size: 26px;
    border-radius: 100vh;
}

#clearBtn svg:hover {
    background-color: rgb(219, 217, 217);
}
