.Comment_display_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 100px;
    height: fit-content;

}

.Authentication_display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Authentication_display h6 {
    margin-top: 8.5px;
    margin-left: 2px;
    font-weight: 600;
}

.Authentication_display h5 {
    margin-top: 9px;
    margin-left: 2px;
    font-weight: 400;
    font-size: 15px;
}

.comment_create_date {
    color: black;
}

.Comment_display_container h4 {
    margin-left: 30px;
    align-self: flex-start;
}

.Edit_comment_btn {
    width: 80px;
    align-self: flex-start;
    background-color: white;
    justify-self: flex-end;
    margin-left: auto;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid blue;
    color: blue;
    font-weight: 600;
}

.Edit_comment_btn:hover {
    border-color: rgb(111, 111, 255);
    color: rgb(111, 111, 255);
}

.Authentication_style {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Delete_comment_btn {
    width: 80px;
    align-self: flex-start;
    background-color: white;
    justify-self: flex-end;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid red;
    color: red;
    font-weight: 600;
}

.Delete_comment_btn:hover {
    border-color: rgb(255, 111, 111);
    color: rgb(255, 111, 111);
}

.Done_comment_btn {
    width: 80px;
    align-self: flex-start;
    background-color: white;
    justify-self: flex-end;
    margin-left: auto;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid blue;
    color: blue;
    font-weight: 600;
    margin-right: 10px;
}

.Done_comment_btn:hover {
    border-color: rgb(111, 111, 255);
    color: rgb(111, 111, 255);
}

.Edit_component_btns {
    display: flex;
    justify-self: flex-end;
    margin-left: auto;
}

.comment_content_box {
    padding-left: 12px;
    font-weight: 400;
    font-size: 1.3rem;
}

.moment_divider {
    font-size: medium;
    margin-top: 0.5rem;
    margin-left: 2px;
    font-weight: 600;
    color: rgb(115, 115, 115);
    margin-right: 1px;
    font-weight: 400;
}

.comment_double_wall {
    font-size: medium;
    margin-top: 0.5rem;
    margin-left: 2px;
    font-weight: 600;
    color: rgb(115, 115, 115);
    margin-right: 1px;
    margin-bottom: 10px;
}

.edit_comment_textarea {
    padding-left: 5px;
}

.editCommentError::placeholder {
    color: red;
}